{% extends "main/base.html" %}

{% load static %}

{% block title %}
    Plasma CNC
{% endblock %}

{% block content %}
<main>

    <section class="intro">
        <h1>Llamanos!</h1>
        <h4>Cel: (+57) 316 831 45 01</h4>
        <h4>O presiona el boton de Whatsapp para chatear o dejarnos un mensaje.</h4>

        <div class="btn-whatsap">   
            <a href="https://wa.me/573168314501" target="_blank">
                <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="Whatsapp Juan Oviedo">
            </a> 
        </div>
    </section>    

</main>

{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/animationcontact.js' %}"></script>
{% endblock %}